body {
    background-color: #000;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 24px;
}
p {
    font-size: 12px;
}

/*Main Grid*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 78px 1fr 78px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
header {
    grid-area: header;
    text-align: center;
    background-color: #563D7C;
    padding: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    grid-area: main;
    text-align: center;
    padding-top: 20px;
}
footer {
    grid-area: footer;
    text-align: center;
    align-self: end;
}

/*Everything in the header*/
.bs-img {
    height: 55px;
}
.h-flex1 {
    order: 1;
    width: 80px;
}
.h-flex2 {
    order: 2;
}

/*Nested Grid inside main*/
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 200px 1fr 1fr 1fr;
    grid-template-areas: 
    "picture"
    "underscores"
    "tracker"
    "guessed"
    "hint";
}
.picture {
    grid-area: picture;
}
.underscores {
    grid-area: underscores;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tracker {
    grid-area: tracker;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.guessed {
    grid-area: guessed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hint {
    grid-area: hint;
}

/*Underscores*/
#underScores {
    color: #fff;
}
/*Hint Button*/
#hint {
    background: #563D7C;
    border: none;
    color: white;
    margin: 10px 0;
    padding: 5px 12px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;--
    display: inline-block;
    font-size: 16px;
}
#hint:hover {
    background: #4b356d;
    cursor: pointer;
}
#hint:active {
    background: #3f2e5e;
}

@media screen and (min-width: 480px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "picture underscores"
        "picture underscores"
        "hint tracker"
        "guessed guessed";
    }
    h1 {
        font-size: 48px;
    }
}
@media screen and (min-width: 640px) {

}
@media screen and (min-width: 800px) {

}
@media screen and (min-width: 1024px) {

}
@media screen and (min-width: 1280px) {

}